<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ConectCar Nexus NuGet" value="http://packages.conectcar.com:9000/repository/nuget-all/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="ConectCar Nexus NuGet" value="true" />
  </disabledPackageSources>
  <config>
    <clear />
    <add key="defaultPushSource" value="http://packages.conectcar.com:9000/repository/nuget-hosted/" />
  </config>
</configuration>